In [194]:
import pandas as pd
import numpy as np

Load Data

In [301]:
import os
import pandas as pd

# Folder path containing the CSV files
folder_path = "/Users/rishabh/Downloads/Daily01112024,Daily02112024,Daily03112024"

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to store DataFrames
dataframes = []

# Iterate through the CSV files and load them into DataFrames
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Combine all DataFrames into a single DataFrame
df = pd.concat(dataframes, ignore_index=True)

# Print the shape and a preview of the combined DataFrame
print("Combined DataFrame Shape:", df.shape)
print(df.head())

Combined DataFrame Shape: (58347, 75)
        Date Country          Track Going        Racetype Distance  Class  \
0  6/24/2020      GB       HAMILTON   GTS          Maiden       6f    5.0
1  8/23/2020     IRE           NAAS   SFT    Unclassified       6f    NaN
2   9/9/2020      GB  WOLVERHAMPTON   STD          Maiden       6f    5.0
3  6/20/2021      GB     PONTEFRACT   GTF  Other Handicap       6f    3.0
4   7/8/2021      GB      NEWMARKET   GTF  Other Handicap       6f    2.0

    Time  Stall      Horse  ...  Tick Drop    10 B2L    25 B2L    50 B2L  \
0  14:20    5.0  Abduction  ...       10.0    £3.43   (£10.00)  (£10.00)
1  15:55    3.0  Abduction  ...       12.0    £4.21   (£10.00)  (£10.00)
2  17:45    4.0  Abduction  ...      104.0    £0.78     £1.66     £3.51
3  17:25    7.0  Abduction  ...      110.0    £2.45     £8.02    £18.20
4  15:00   11.0  Abduction  ...        0.0  (£10.00)  (£10.00)  (£10.00)

  10 B2L To Date  25 B2L To Date  50 B2L To Date    OR  Headgear  \
0         £0.00           £0.00           £0.00    0.0       NaN
1         £3.43         (£10.00)        (£10.00)   0.0       NaN
2         £7.64         (£20.00)        (£20.00)   0.0       NaN
3         £8.42         (£18.34)        (£16.49)  84.0       NaN
4        £10.87         (£10.32)          £1.71   86.0       NaN

                  Todays Race
0  DONCASTER / 26/10/24/17:00
1  DONCASTER / 26/10/24/17:00
2  DONCASTER / 26/10/24/17:00
3  DONCASTER / 26/10/24/17:00
4  DONCASTER / 26/10/24/17:00

[5 rows x 75 columns]

/var/folders/vw/0x9ylhq57vq55_ssc_tyqhc00000gn/T/ipykernel_29853/2064366698.py:16: DtypeWarning: Columns (21,64) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [302]:
df.head(1)

,Date,Country,Track,Going,Racetype,Distance,Class,Time,Stall,Horse,...,Tick Drop,10 B2L,25 B2L,50 B2L,10 B2L To Date,25 B2L To Date,50 B2L To Date,OR,Headgear,Todays Race
0,6/24/2020,GB,HAMILTON,GTS,Maiden,6f,5.0,14:20,5.0,Abduction,...,10.0,£3.43,(£10.00),(£10.00),£0.00,£0.00,£0.00,0.0,NaN,DONCASTER / 26/10/24/17:00

In [303]:
print([col for col in df.columns if "Place" in col])

['Place']

In [304]:
df.columns

Index(['Date', 'Country', 'Track', 'Going', 'Racetype', 'Distance', 'Class',
       'Time', 'Stall', 'Horse', 'Age', 'Pace', 'Weight', 'Jockey', 'Trainer',
       'SP Fav', 'Industry SP', 'Betfair SP', 'IP Min', 'IP Max', 'Pred ISP',
       'Place', 'Winning Distance', 'Runners', 'Tick Drop IR', 'Tick Incr IR',
       '% SP Drop', '% SP Incr', 'Runs last 18 mo', 'LTO5 % SP Drop',
       'LTO4 % SP Drop', 'LTO3 % SP Drop', 'LTO2 % SP Drop', 'LTO % SP Drop',
       'LTO5 IPL', 'LTO4 IPL', 'LTO3 IPL', 'LTO2 IPL', 'LTO IPL', 'Wins L5',
       'Avg % SP Drop L5', 'Avg % SP Drop last 18 mo', 'RBD Rating',
       'RBD Rank', 'Prev Races', 'Days Since LTO', 'Course Winner',
       'Distance Winner', 'Cla diff since LTO', 'OR diff since LTO',
       'Crs Wins', 'Dist Wins', 'Class Wins', 'Going Wins', 'Dist (F)',
       'Up in Trip', 'WGT (Lbs)', 'WGT diff since LTO', 'Tear Weight',
       'Race Rating', 'DOB %', 'DOB P/L £1', 'PRB', 'PRB To Date', 'LTO Pos',
       'Tick Drop', '10 B2L', '25 B2L', '50 B2L', '10 B2L To Date',
       '25 B2L To Date', '50 B2L To Date', 'OR', 'Headgear', 'Todays Race'],
      dtype='object')

In [305]:
# Identify columns with NaN or empty values
columns_with_nan = df.columns[df.isnull().any()].tolist()

print("Columns with NaN or empty values:")
print(columns_with_nan)

Columns with NaN or empty values:
['Going', 'Class', 'Stall', 'Pace', 'Jockey', 'Trainer', 'Betfair SP', 'IP Min', 'IP Max', 'Place', 'Winning Distance', 'Tick Drop IR', 'Tick Incr IR', '% SP Drop', '% SP Incr', 'LTO5 % SP Drop', 'LTO4 % SP Drop', 'LTO3 % SP Drop', 'LTO2 % SP Drop', 'LTO % SP Drop', 'LTO5 IPL', 'LTO4 IPL', 'LTO3 IPL', 'LTO2 IPL', 'LTO IPL', 'Avg % SP Drop L5', 'Avg % SP Drop last 18 mo', 'RBD Rating', 'RBD Rank', 'Days Since LTO', 'Cla diff since LTO', 'OR diff since LTO', 'Up in Trip', 'WGT diff since LTO', 'Tear Weight', 'Race Rating', 'DOB %', 'PRB', 'PRB To Date', 'LTO Pos', 'Tick Drop', '10 B2L', '25 B2L', '50 B2L', 'OR', 'Headgear']

Pre-processing

In [306]:
### Removal and Imputation

# List of columns to remove based on the analysis above
columns_to_remove = [
    'Stall', 'Betfair SP', 'IP Min', 'IP Max'
    , 'Tick Drop IR', '% SP Drop', '% SP Incr',
    'RBD Rating', 'RBD Rank',
    'Tear Weight', 'Race Rating', 'DOB %', 'PRB', 'PRB To Date', 'Tick Drop', 
    '10 B2L', '25 B2L', '50 B2L',"10 B2L To Date", "25 B2L To Date", "50 B2L To Date", 
    "Todays Race", "DOB P/L £1"
]

# Remove the sparse columns
df_cleaned = df.drop(columns=columns_to_remove)

# Impute missing values for numerical columns
numerical_columns = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
df_cleaned[numerical_columns] = df_cleaned[numerical_columns].fillna(df_cleaned[numerical_columns].median())

# Impute missing values for categorical columns (fill with the mode)
categorical_columns = df_cleaned.select_dtypes(include=['object']).columns
df_cleaned[categorical_columns] = df_cleaned[categorical_columns].fillna(df_cleaned[categorical_columns].mode().iloc[0])

# Print the columns removed
print("Removed columns:", columns_to_remove)

# Check if there are any remaining missing values
print("\nRemaining missing values:", df_cleaned.isna().sum())

Removed columns: ['Stall', 'Betfair SP', 'IP Min', 'IP Max', 'Tick Drop IR', '% SP Drop', '% SP Incr', 'RBD Rating', 'RBD Rank', 'Tear Weight', 'Race Rating', 'DOB %', 'PRB', 'PRB To Date', 'Tick Drop', '10 B2L', '25 B2L', '50 B2L', '10 B2L To Date', '25 B2L To Date', '50 B2L To Date', 'Todays Race', 'DOB P/L £1']

Remaining missing values: Date                        0
Country                     0
Track                       0
Going                       0
Racetype                    0
Distance                    0
Class                       0
Time                        0
Horse                       0
Age                         0
Pace                        0
Weight                      0
Jockey                      0
Trainer                     0
SP Fav                      0
Industry SP                 0
Pred ISP                    0
Place                       0
Winning Distance            0
Runners                     0
Tick Incr IR                0
Runs last 18 mo             0
LTO5 % SP Drop              0
LTO4 % SP Drop              0
LTO3 % SP Drop              0
LTO2 % SP Drop              0
LTO % SP Drop               0
LTO5 IPL                    0
LTO4 IPL                    0
LTO3 IPL                    0
LTO2 IPL                    0
LTO IPL                     0
Wins L5                     0
Avg % SP Drop L5            0
Avg % SP Drop last 18 mo    0
Prev Races                  0
Days Since LTO              0
Course Winner               0
Distance Winner             0
Cla diff since LTO          0
OR diff since LTO           0
Crs Wins                    0
Dist Wins                   0
Class Wins                  0
Going Wins                  0
Dist (F)                    0
Up in Trip                  0
WGT (Lbs)                   0
WGT diff since LTO          0
LTO Pos                     0
OR                          0
Headgear                    0
dtype: int64

In [307]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58347 entries, 0 to 58346
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      58347 non-null  object
 1   Country                   58347 non-null  object
 2   Track                     58347 non-null  object
 3   Going                     58347 non-null  object
 4   Racetype                  58347 non-null  object
 5   Distance                  58347 non-null  object
 6   Class                     58347 non-null  float64
 7   Time                      58347 non-null  object
 8   Horse                     58347 non-null  object
 9   Age                       58347 non-null  int64
 10  Pace                      58347 non-null  float64
 11  Weight                    58347 non-null  object
 12  Jockey                    58347 non-null  object
 13  Trainer                   58347 non-null  object
 14  SP Fav                    58347 non-null  int64
 15  Industry SP               58347 non-null  float64
 16  Pred ISP                  58347 non-null  float64
 17  Place                     58347 non-null  object
 18  Winning Distance          58347 non-null  object
 19  Runners                   58347 non-null  int64
 20  Tick Incr IR              58347 non-null  object
 21  Runs last 18 mo           58347 non-null  int64
 22  LTO5 % SP Drop            58347 non-null  float64
 23  LTO4 % SP Drop            58347 non-null  float64
 24  LTO3 % SP Drop            58347 non-null  float64
 25  LTO2 % SP Drop            58347 non-null  float64
 26  LTO % SP Drop             58347 non-null  float64
 27  LTO5 IPL                  58347 non-null  float64
 28  LTO4 IPL                  58347 non-null  float64
 29  LTO3 IPL                  58347 non-null  float64
 30  LTO2 IPL                  58347 non-null  float64
 31  LTO IPL                   58347 non-null  float64
 32  Wins L5                   58347 non-null  int64
 33  Avg % SP Drop L5          58347 non-null  float64
 34  Avg % SP Drop last 18 mo  58347 non-null  float64
 35  Prev Races                58347 non-null  int64
 36  Days Since LTO            58347 non-null  float64
 37  Course Winner             58347 non-null  object
 38  Distance Winner           58347 non-null  object
 39  Cla diff since LTO        58347 non-null  float64
 40  OR diff since LTO         58347 non-null  float64
 41  Crs Wins                  58347 non-null  int64
 42  Dist Wins                 58347 non-null  int64
 43  Class Wins                58347 non-null  int64
 44  Going Wins                58347 non-null  int64
 45  Dist (F)                  58347 non-null  int64
 46  Up in Trip                58347 non-null  object
 47  WGT (Lbs)                 58347 non-null  int64
 48  WGT diff since LTO        58347 non-null  float64
 49  LTO Pos                   58347 non-null  object
 50  OR                        58347 non-null  float64
 51  Headgear                  58347 non-null  object
dtypes: float64(21), int64(12), object(19)
memory usage: 23.1+ MB

In [308]:
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], dayfirst=True, errors='coerce')

df_aux = df_cleaned[df_cleaned['Date'] == '2024-11-04'][['Place', 'Track', 'Horse', 'Jockey', 'Racetype', 'Time']]
df_aux.head()

/var/folders/vw/0x9ylhq57vq55_ssc_tyqhc00000gn/T/ipykernel_29853/143837492.py:1: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], dayfirst=True, errors='coerce')

,Place,Track,Horse,Jockey,Racetype,Time
31265,1,SOUTHWELL,A Fine Claret,Pierre-Louis Jamin,Nursery,17:45
31312,1,WOLVERHAMPTON,A Pint Of Bear,Joey Haynes,Other Handicap,18:00
31314,1,KEMPTON,Africa Charm,Neil Callan,Maiden,13:20
31345,1,PLUMPTON,Aggagio,Caoilin Quinn,Handicap Hurdle,15:40
31362,1,KEMPTON,Aimeric,Clifford Lee,Listed,14:20

In [309]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# List of categorical columns (including new features)
categorical_columns = [
    "Country", "Track", "Going", "Racetype", "Distance",
    "Horse", "Jockey", "Trainer", "Place",
    "Course Winner", "Distance Winner", "Up in Trip", 
    "Headgear", "LTO Pos", 
]

# Specify high cardinality columns for Label Encoding
label_encode_columns = [
    "Horse", "Jockey", "Trainer", 
    "Headgear", 
]

# Handle missing values and ensure uniform data types for label encoding
df_cleaned[label_encode_columns] = df_cleaned[label_encode_columns].fillna("Missing").astype(str)

# Apply Label Encoding
label_encoders = {}
for col in label_encode_columns:
    le = LabelEncoder()
    df_cleaned[col] = le.fit_transform(df_cleaned[col])
    label_encoders[col] = le  # Save encoder for future decoding if needed

# Specify remaining columns for One-Hot Encoding
one_hot_encode_columns = [
    "Country", "Track", "Going", "Racetype", "Distance",
    "Course Winner", "Distance Winner", "Up in Trip"
]

# Apply One-Hot Encoding
df_cleaned = pd.get_dummies(df_cleaned, columns=one_hot_encode_columns, drop_first=True)

# Print resulting DataFrame structure
print("Encoded DataFrame Shape:", df_cleaned.shape)
print("Sample DataFrame:\n", df_cleaned.head(1))

Encoded DataFrame Shape: (58347, 230)
Sample DataFrame:
         Date  Class   Time  Horse  Age  Pace Weight  Jockey  Trainer  SP Fav  \
0 2020-06-24    5.0  14:20     11    2   0.0    9-5    1214      700       4

   ...  Distance_4m½f  Distance_5f Distance_5½f Distance_6f  Distance_6½f  \
0  ...          False        False        False        True         False

  Distance_7f  Distance_7½f  Course Winner_YES  Distance Winner_YES  \
0       False         False              False                False

   Up in Trip_YES
0           False

[1 rows x 230 columns]

In [310]:
df_cleaned.head(1)

,Date,Class,Time,Horse,Age,Pace,Weight,Jockey,Trainer,SP Fav,...,Distance_4m½f,Distance_5f,Distance_5½f,Distance_6f,Distance_6½f,Distance_7f,Distance_7½f,Course Winner_YES,Distance Winner_YES,Up in Trip_YES
0,2020-06-24,5.0,14:20,11,2,0.0,9-5,1214,700,4,...,False,False,False,True,False,False,False,False,False,False

In [311]:
l = ['Time','Weight','Tick Incr IR']

df_cleaned= df_cleaned.drop(columns=l)
df_cleaned.shape

(58347, 227)

In [312]:
print(df_cleaned.columns.tolist())

['Date', 'Class', 'Horse', 'Age', 'Pace', 'Jockey', 'Trainer', 'SP Fav', 'Industry SP', 'Pred ISP', 'Place', 'Winning Distance', 'Runners', 'Runs last 18 mo', 'LTO5 % SP Drop', 'LTO4 % SP Drop', 'LTO3 % SP Drop', 'LTO2 % SP Drop', 'LTO % SP Drop', 'LTO5 IPL', 'LTO4 IPL', 'LTO3 IPL', 'LTO2 IPL', 'LTO IPL', 'Wins L5', 'Avg % SP Drop L5', 'Avg % SP Drop last 18 mo', 'Prev Races', 'Days Since LTO', 'Cla diff since LTO', 'OR diff since LTO', 'Crs Wins', 'Dist Wins', 'Class Wins', 'Going Wins', 'Dist (F)', 'WGT (Lbs)', 'WGT diff since LTO', 'LTO Pos', 'OR', 'Headgear', 'Country_IRE', 'Track_ASCOT', 'Track_AYR', 'Track_BALLINROBE', 'Track_BANGOR-ON-DEE', 'Track_BATH', 'Track_BELLEWSTOWN', 'Track_BEVERLEY', 'Track_BRIGHTON', 'Track_CARLISLE', 'Track_CARTMEL', 'Track_CATTERICK', 'Track_CHELMSFORD CITY', 'Track_CHELTENHAM', 'Track_CHEPSTOW', 'Track_CHESTER', 'Track_CLONMEL', 'Track_CORK', 'Track_CURRAGH', 'Track_DONCASTER', 'Track_DOWN ROYAL', 'Track_DOWNPATRICK', 'Track_DUNDALK', 'Track_EPSOM', 'Track_EXETER', 'Track_FAIRYHOUSE', 'Track_FAKENHAM', 'Track_FFOS LAS', 'Track_FONTWELL', 'Track_GALWAY', 'Track_GOODWOOD', 'Track_GOWRAN PARK', 'Track_HAMILTON', 'Track_HAYDOCK', 'Track_HEREFORD', 'Track_HEXHAM', 'Track_HUNTINGDON', 'Track_KELSO', 'Track_KEMPTON', 'Track_KILBEGGAN', 'Track_KILLARNEY', 'Track_LAYTOWN', 'Track_LEICESTER', 'Track_LEOPARDSTOWN', 'Track_LIMERICK', 'Track_LINGFIELD', 'Track_LISTOWEL', 'Track_LUDLOW', 'Track_MARKET RASEN', 'Track_MUSSELBURGH', 'Track_NAAS', 'Track_NAVAN', 'Track_NEWBURY', 'Track_NEWCASTLE', 'Track_NEWMARKET', 'Track_NEWTON ABBOT', 'Track_NOTTINGHAM', 'Track_PERTH', 'Track_PLUMPTON', 'Track_PONTEFRACT', 'Track_PUNCHESTOWN', 'Track_REDCAR', 'Track_RIPON', 'Track_ROSCOMMON', 'Track_SALISBURY', 'Track_SANDOWN', 'Track_SEDGEFIELD', 'Track_SLIGO', 'Track_SOUTHWELL', 'Track_STRATFORD', 'Track_TAUNTON', 'Track_THIRSK', 'Track_THURLES', 'Track_TIPPERARY', 'Track_TOWCESTER', 'Track_TRAMORE', 'Track_UTTOXETER', 'Track_WARWICK', 'Track_WETHERBY', 'Track_WEXFORD', 'Track_WINCANTON', 'Track_WINDSOR', 'Track_WOLVERHAMPTON', 'Track_WORCESTER', 'Track_YARMOUTH', 'Track_YORK', 'Going_GD', 'Going_GTF', 'Going_GTS', 'Going_GTY', 'Going_HTS', 'Going_HVY', 'Going_SFT', 'Going_SLW', 'Going_STD', 'Going_STFA', 'Going_STSL', 'Going_YLD', 'Going_YTS', 'Racetype_Claiming Stakes', 'Racetype_Classified Stakes', 'Racetype_Conditions Stakes', 'Racetype_Group 1', 'Racetype_Group 2', 'Racetype_Group 3', 'Racetype_Handicap Chase', 'Racetype_Handicap Hurdle', 'Racetype_Hunters Chase', 'Racetype_Listed', 'Racetype_Maiden', 'Racetype_NH Flat', 'Racetype_Novice Chase', 'Racetype_Novice Hcap Chase', 'Racetype_Novice Hcap Hurdle', 'Racetype_Novice Hurdle', 'Racetype_Novice Stakes', 'Racetype_Nursery', 'Racetype_Other Chase', 'Racetype_Other Handicap', 'Racetype_Other Hurdle', 'Racetype_Selling Handicap', 'Racetype_Selling Hurdle', 'Racetype_Selling Stakes', 'Racetype_Unclassified', 'Distance_1m1f', 'Distance_1m1½f', 'Distance_1m2f', 'Distance_1m2½f', 'Distance_1m3f', 'Distance_1m3½f', 'Distance_1m4f', 'Distance_1m4½f', 'Distance_1m5f', 'Distance_1m5½f', 'Distance_1m6f', 'Distance_1m6½f', 'Distance_1m7f', 'Distance_1m7½f', 'Distance_1m½f', 'Distance_2m', 'Distance_2m1f', 'Distance_2m1½f', 'Distance_2m2f', 'Distance_2m2½f', 'Distance_2m3f', 'Distance_2m3½f', 'Distance_2m4f', 'Distance_2m4½f', 'Distance_2m5f', 'Distance_2m5½f', 'Distance_2m6f', 'Distance_2m6½f', 'Distance_2m7f', 'Distance_2m7½f', 'Distance_2m½f', 'Distance_3m', 'Distance_3m1f', 'Distance_3m1½f', 'Distance_3m2f', 'Distance_3m2½f', 'Distance_3m3f', 'Distance_3m3½f', 'Distance_3m4f', 'Distance_3m4½f', 'Distance_3m5f', 'Distance_3m5½f', 'Distance_3m6f', 'Distance_3m6½f', 'Distance_3m7f', 'Distance_3m7½f', 'Distance_3m½f', 'Distance_4m', 'Distance_4m1f', 'Distance_4m1½f', 'Distance_4m2f', 'Distance_4m2½f', 'Distance_4m½f', 'Distance_5f', 'Distance_5½f', 'Distance_6f', 'Distance_6½f', 'Distance_7f', 'Distance_7½f', 'Course Winner_YES', 'Distance Winner_YES', 'Up in Trip_YES']

In [313]:
# Get all columns of object type
object_columns = df_cleaned.columns[df_cleaned.dtypes == 'object']

# Print the list of object-type columns
print(object_columns)

Index(['Place', 'Winning Distance', 'LTO Pos'], dtype='object')

In [314]:
# Extract unique values for each column
columns_to_check = ["Place", "Winning Distance", "LTO Pos"]
for col in columns_to_check:
    print(f"Unique values in '{col}':\n{df_cleaned[col].unique()}\n")

Unique values in 'Place':
['2' '5' '1' '12' '23' '11' '6' '14' '8' '3' '15' '7' '21' '4' '10' '19'
 '9' '16' '20' '13' '18' '27' '24' 'PU' 'F' '28' 'UR' '17' 'DSQ' '26' 'BD'
 'RO' '22' '25' '29' '31' 'SU' 'RR' '30' 'REF' 'CO' 3.0 8.0 1.0 13.0 7.0
 4.0 5.0 9.0]

Unique values in 'Winning Distance':
['3½' '4¾' '1¾' 'hd' '5' '26' '10' '3¼' '5¼' '10¼' '8¼' '1½' '16' '2'
 'shd' '1' '¾' '½' '2¾' '5½' '13¾' '8' '2¼' '17' '1¼' '10¾' '4½' '3¾'
 '11¼' 'nk' '5¾' '2½' '15¾' '8½' '4¼' 'nse' '6¾' '20½' '32½' '4' '9½'
 '12¾' '6½' '7' '7½' '11' '13' '9' '3' '9¼' '16½' '11¾' '15½' '21¼' 'snk'
 'dht' '19¾' '41½' '12½' '8¾' '10½' '14' '11½' '6' '19½' '23¾' '6¼' '24½'
 '18' '57¾' '21¾' '15¼' '30¼' '7¾' '12¼' '17¾' '20¼' '9¾' '22¾' '20¾' '43'
 '44¼' '13½' '38' '26¾' '46¾' '27¾' '29' '19' '24¼' '45' '25½' '57½' '48½'
 '28' '35' '17½' '37¼' '32¼' '21½' '12' '14¾' '27' '28¾' '36¼' '21' '48'
 '13¼' '28¼' '32' '27¼' '33¼' '65' '46½' '81¾' '91¾' '28½' '34¼' '20' '7¼'
 '63¾' '18¼' '26¼' '60¾' '22½' '14½' '40½' '43¼' '14¼' '18¾' '74½' '47¼'
 '37' '41' '15' '19¼' '27½' '44' '16¾' '24' '16¼' '113¼' '140½' '106¼'
 '99¼' '109½' '36' '24¾' '92¾' '45½' '50¼' '36½' '60¼' '¼' '29¼' '33½'
 '35¾' '39¼' '30¾' '23' '31½' '54¼' '53¼' '23¼' '39½' '83' '51' '25¼'
 '55¼' '98' '80¼' '30' '30½' '23½' '31¾' '34' '32¾' '38¼' '29½' '34½'
 '36¾' '33¾' '47' '63½' '104¼' '25' '51¾' '38½' '77½' '45¾' '42½' '76'
 '22¼' '31¼' '52¾' '134¼' '63¼' '29¾' '65¾' '17¼' '33' '49¾' '47¾' '26½'
 '41¼' '83¾' '37½' '72' '45¼' '64' '41¾' '129' '98½' '76½' '85¼' '88½'
 '59½' '40' '61¼' '43½' '35¼' '63' '59' '58¾' '22' '55¾' '50' '99¾' '73½'
 '92' '51¼' '74¼' '61' '73¼' '62¼' '64¼' '48¾' '55½' '18½' '49¼' '78¼'
 '49' '60' '112¾' '31' '42' '75¼' '0' '48¼' '52¼' '80' '46¼' '67' '86¼'
 '40¼' '77¾' '81' '34¾' '43¾' '25¾' '52' '54' '40¾' '114¼' '69¼' '38¾'
 '71¼' '39' '77' '75½' '35½' '70½' '42¼' '73' '58½' '125¼' '59¾' '58¼'
 '126½' '68½' '123¼' '54¾' '39¾' '44¾' '62' '46' '70' '57' '68¾' '65¼'
 '44½' '112' '53½' '56¼' '61½' '86¾' '71½' '59¼' '96¾' '92½' '124' '62½'
 '91' '94¾' '52½' '84½' '80¾' '58' '89' '91¼' '53¾' '79¾' '74¾' '67½'
 '60½' '88¼' '95½' '147½' '47½' '56¾' '56½' '54½' '64¾' '81¼' '78' '120¼'
 '57¼' '56' '96' '62¾' '210½' '76¼' '55' '88' '89½' '94¼' '96¼' '37¾'
 '98¼' '68' '170½' '100½' '42¾' '78¾' '73¾' '132' '70¾' '64½' '90¾' '51½'
 '117¼' '69½' '66½' '85' '103½' '72¼' '122¼' '84¾' '53' '101¼' '49½' '61¾'
 '168½' '74' '118' '70¼' '103' '75¾' '66' '144' '97¾' '50¾' '75' '93½'
 '72¾' '131¼' '95' '197' '97¼' '146¼' '76¾' '131¾' '107' '83½' '95¾' '93¼'
 '115¼' '86' '116½' '156¾' '111½' '83¼' '86½' '90¼' '116¾' '79½' '72½'
 '67¼' '68¼' '120½' 'sht-hd' '89¼' '118¾' '95¼' '185¾' '172' '110' '136'
 '97½' '79¼' '196½' '79' '65½' '143' '85½' '69' '157½' '137¼' '90' '87½'
 '121¾' '162½' '120¾' '119¾' '98¾' '99' '80½' '102½' '128' '108' '122¾'
 '113½' '109¼' '82¼' '67¾' '82¾' '140¼' '149½' '82½' '97' '112½' '100¾'
 '71' '140¾' '50½' '239¾' '117' '71¾' '184' '77¼' '143¼' '131' '81½' '99½'
 '66¼' '163½' '255¾' '137' '78½' '105' '69¾' '91½' '111¼' '94½' '138¾'
 '66¾' '113¾' '87' '118½' '109¾' '223¼' '145¾' '100¼' '166½' '101' '172¾'
 '137¾' '127½' '157¾' '106½' '126¾' '106' '144¾' '116' '169½' '130¾'
 '121½' '115½' '87¼' '82' '165' '102¾' '122½' '192¼' '119½' 'dist' '119'
 '116¼' '108½' '105½' '124¼' '96½' '111' '88¾' '114½' '177¼' '186' '104'
 '92¼' '183½']

Unique values in 'LTO Pos':
['1' '2' '5' '12' '23' '11' '6' '14' '8' '3' '15' '7' '21' '4' '10' '19'
 '9' '16' '20' '13' '18' '27' '24' 'PU' 'F' '28' 'UR' '17' 'DSQ' '26' 'BD'
 'RO' '22' '25' '29' '31' 'SU' 'RR' '30' 'REF' 'CO' 1 3 8 13 7 4 5 9]

In [315]:
import re

def parse_to_numeric(value):
    """
    Converts the given value to a numeric type (integer or float) if possible.
    If conversion is not possible, returns None.
    """
    try:
        return int(value)
    except ValueError:
        try:
            return float(value)
        except ValueError:
            return None


# Define a mapping for non-numeric terms in Place and LTO Pos
place_mapping = {
    "PU": -1,
    "F": -2,
    "UR": -3,
    "DSQ": -4,
    "BD": -5,
    "RO": -6,
    "SU": -7,
    "RR": -8,
    "REF": -9,
    "CO": -10,
}

# Define a function to parse winning distances
def parse_winning_distance(value):
    try:
        # Mapping for special terms
        special_terms = {
            "hd": 0.1,
            "nk": 0.25,
            "shd": 0.05,
            "nse": 0.01,
            "dht": 0,
            "dist": 100,
        }
        # Check if value is a special term
        if value in special_terms:
            return special_terms[value]
        # Parse fractions and mixed fractions
        match = re.match(r"(\d+)?(?:[¼½¾]|\s\d+)?[¼½¾]?", value)
        if match:
            whole = int(match.group(1)) if match.group(1) else 0
            fraction = value[-1]  # Extract the last fraction part
            fraction_mapping = {"¼": 0.25, "½": 0.5, "¾": 0.75}
            fraction_value = fraction_mapping.get(fraction, 0)
            return whole + fraction_value
        # Otherwise, convert to float directly
        return float(value)
    except (ValueError, TypeError):
        return None

# Apply transformations to the DataFrame
df_cleaned["Place"] = df_cleaned["Place"].replace(place_mapping).apply(parse_to_numeric)
df_cleaned["LTO Pos"] = df_cleaned["LTO Pos"].replace(place_mapping).apply(parse_to_numeric)
df_cleaned["Winning Distance"] = df_cleaned["Winning Distance"].apply(parse_winning_distance)

# Verify unique values after conversion
for col in ["Place", "Winning Distance", "LTO Pos"]:
    print(f"Unique values in '{col}' after conversion:\n{sorted(df_cleaned[col].dropna().unique())}\n")

Unique values in 'Place' after conversion:
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

Unique values in 'Winning Distance' after conversion:
[0.0, 0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 2.75, 3.0, 3.25, 3.5, 3.75, 4.0, 4.25, 4.5, 4.75, 5.0, 5.25, 5.5, 5.75, 6.0, 6.25, 6.5, 6.75, 7.0, 7.25, 7.5, 7.75, 8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.75, 11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, 15.25, 15.5, 15.75, 16.0, 16.25, 16.5, 16.75, 17.0, 17.25, 17.5, 17.75, 18.0, 18.25, 18.5, 18.75, 19.0, 19.25, 19.5, 19.75, 20.0, 20.25, 20.5, 20.75, 21.0, 21.25, 21.5, 21.75, 22.0, 22.25, 22.5, 22.75, 23.0, 23.25, 23.5, 23.75, 24.0, 24.25, 24.5, 24.75, 25.0, 25.25, 25.5, 25.75, 26.0, 26.25, 26.5, 26.75, 27.0, 27.25, 27.5, 27.75, 28.0, 28.25, 28.5, 28.75, 29.0, 29.25, 29.5, 29.75, 30.0, 30.25, 30.5, 30.75, 31.0, 31.25, 31.5, 31.75, 32.0, 32.25, 32.5, 32.75, 33.0, 33.25, 33.5, 33.75, 34.0, 34.25, 34.5, 34.75, 35.0, 35.25, 35.5, 35.75, 36.0, 36.25, 36.5, 36.75, 37.0, 37.25, 37.5, 37.75, 38.0, 38.25, 38.5, 38.75, 39.0, 39.25, 39.5, 39.75, 40.0, 40.25, 40.5, 40.75, 41.0, 41.25, 41.5, 41.75, 42.0, 42.25, 42.5, 42.75, 43.0, 43.25, 43.5, 43.75, 44.0, 44.25, 44.5, 44.75, 45.0, 45.25, 45.5, 45.75, 46.0, 46.25, 46.5, 46.75, 47.0, 47.25, 47.5, 47.75, 48.0, 48.25, 48.5, 48.75, 49.0, 49.25, 49.5, 49.75, 50.0, 50.25, 50.5, 50.75, 51.0, 51.25, 51.5, 51.75, 52.0, 52.25, 52.5, 52.75, 53.0, 53.25, 53.5, 53.75, 54.0, 54.25, 54.5, 54.75, 55.0, 55.25, 55.5, 55.75, 56.0, 56.25, 56.5, 56.75, 57.0, 57.25, 57.5, 57.75, 58.0, 58.25, 58.5, 58.75, 59.0, 59.25, 59.5, 59.75, 60.0, 60.25, 60.5, 60.75, 61.0, 61.25, 61.5, 61.75, 62.0, 62.25, 62.5, 62.75, 63.0, 63.25, 63.5, 63.75, 64.0, 64.25, 64.5, 64.75, 65.0, 65.25, 65.5, 65.75, 66.0, 66.25, 66.5, 66.75, 67.0, 67.25, 67.5, 67.75, 68.0, 68.25, 68.5, 68.75, 69.0, 69.25, 69.5, 69.75, 70.0, 70.25, 70.5, 70.75, 71.0, 71.25, 71.5, 71.75, 72.0, 72.25, 72.5, 72.75, 73.0, 73.25, 73.5, 73.75, 74.0, 74.25, 74.5, 74.75, 75.0, 75.25, 75.5, 75.75, 76.0, 76.25, 76.5, 76.75, 77.0, 77.25, 77.5, 77.75, 78.0, 78.25, 78.5, 78.75, 79.0, 79.25, 79.5, 79.75, 80.0, 80.25, 80.5, 80.75, 81.0, 81.25, 81.5, 81.75, 82.0, 82.25, 82.5, 82.75, 83.0, 83.25, 83.5, 83.75, 84.5, 84.75, 85.0, 85.25, 85.5, 86.0, 86.25, 86.5, 86.75, 87.0, 87.25, 87.5, 88.0, 88.25, 88.5, 88.75, 89.0, 89.25, 89.5, 90.0, 90.25, 90.75, 91.0, 91.25, 91.5, 91.75, 92.0, 92.25, 92.5, 92.75, 93.25, 93.5, 94.25, 94.5, 94.75, 95.0, 95.25, 95.5, 95.75, 96.0, 96.25, 96.5, 96.75, 97.0, 97.25, 97.5, 97.75, 98.0, 98.25, 98.5, 98.75, 99.0, 99.25, 99.5, 99.75, 100.0, 100.25, 100.5, 100.75, 101.0, 101.25, 102.5, 102.75, 103.0, 103.5, 104.0, 104.25, 105.0, 105.5, 106.0, 106.25, 106.5, 107.0, 108.0, 108.5, 109.25, 109.5, 109.75, 110.0, 111.0, 111.25, 111.5, 112.0, 112.5, 112.75, 113.25, 113.5, 113.75, 114.25, 114.5, 115.25, 115.5, 116.0, 116.25, 116.5, 116.75, 117.0, 117.25, 118.0, 118.5, 118.75, 119.0, 119.5, 119.75, 120.25, 120.5, 120.75, 121.5, 121.75, 122.25, 122.5, 122.75, 123.25, 124.0, 124.25, 125.25, 126.5, 126.75, 127.5, 128.0, 129.0, 130.75, 131.0, 131.25, 131.75, 132.0, 134.25, 136.0, 137.0, 137.25, 137.75, 138.75, 140.25, 140.5, 140.75, 143.0, 143.25, 144.0, 144.75, 145.75, 146.25, 147.5, 149.5, 156.75, 157.5, 157.75, 162.5, 163.5, 165.0, 166.5, 168.5, 169.5, 170.5, 172.0, 172.75, 177.25, 183.5, 184.0, 185.75, 186.0, 192.25, 196.5, 197.0, 210.5, 223.25, 239.75, 255.75]

Unique values in 'LTO Pos' after conversion:
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [316]:
# Get all columns of object type
object_columns = df_cleaned.columns[df_cleaned.dtypes == 'object']

# Print the list of object-type columns
print(object_columns)

Index([], dtype='object')

In [317]:
# Assuming df is your original DataFrame
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], dayfirst=True, errors='coerce')

# Identify rows with invalid dates
invalid_dates = df_cleaned[df_cleaned['Date'].isna()]

# Print the rows with invalid date formats
print(invalid_dates)

Empty DataFrame
Columns: [Date, Class, Horse, Age, Pace, Jockey, Trainer, SP Fav, Industry SP, Pred ISP, Place, Winning Distance, Runners, Runs last 18 mo, LTO5 % SP Drop, LTO4 % SP Drop, LTO3 % SP Drop, LTO2 % SP Drop, LTO % SP Drop, LTO5 IPL, LTO4 IPL, LTO3 IPL, LTO2 IPL, LTO IPL, Wins L5, Avg % SP Drop L5, Avg % SP Drop last 18 mo, Prev Races, Days Since LTO, Cla diff since LTO, OR diff since LTO, Crs Wins, Dist Wins, Class Wins, Going Wins, Dist (F), WGT (Lbs), WGT diff since LTO, LTO Pos, OR, Headgear, Country_IRE, Track_ASCOT, Track_AYR, Track_BALLINROBE, Track_BANGOR-ON-DEE, Track_BATH, Track_BELLEWSTOWN, Track_BEVERLEY, Track_BRIGHTON, Track_CARLISLE, Track_CARTMEL, Track_CATTERICK, Track_CHELMSFORD CITY, Track_CHELTENHAM, Track_CHEPSTOW, Track_CHESTER, Track_CLONMEL, Track_CORK, Track_CURRAGH, Track_DONCASTER, Track_DOWN ROYAL, Track_DOWNPATRICK, Track_DUNDALK, Track_EPSOM, Track_EXETER, Track_FAIRYHOUSE, Track_FAKENHAM, Track_FFOS LAS, Track_FONTWELL, Track_GALWAY, Track_GOODWOOD, Track_GOWRAN PARK, Track_HAMILTON, Track_HAYDOCK, Track_HEREFORD, Track_HEXHAM, Track_HUNTINGDON, Track_KELSO, Track_KEMPTON, Track_KILBEGGAN, Track_KILLARNEY, Track_LAYTOWN, Track_LEICESTER, Track_LEOPARDSTOWN, Track_LIMERICK, Track_LINGFIELD, Track_LISTOWEL, Track_LUDLOW, Track_MARKET RASEN, Track_MUSSELBURGH, Track_NAAS, Track_NAVAN, Track_NEWBURY, Track_NEWCASTLE, Track_NEWMARKET, Track_NEWTON ABBOT, Track_NOTTINGHAM, Track_PERTH, Track_PLUMPTON, ...]
Index: []

[0 rows x 227 columns]

In [318]:

# Assuming df is your original DataFrame
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], format='%d/%m/%Y')

# Create two DataFrames based on the date
df_date_04112024 = df_cleaned[df_cleaned['Date'] == '2024-11-04']
df_other_dates = df_cleaned[df_cleaned['Date'] != '2024-11-04']

In [319]:
df_date_04112024.shape

(328, 227)

In [320]:
df_other_dates.shape

(58019, 227)

In [321]:
df_past = df_other_dates.drop(columns=['Date'])
df_today = df_date_04112024.drop(columns=['Date'])

In [322]:
# Print unique values in the 'Place' column
unique_places = df_past["Place"].unique()
print("Unique values in 'Place' column:", unique_places)

Unique values in 'Place' column: [  2   5   1  12  23  11   6  14   8   3  15   7  21   4  10  19   9  16
  20  13  18  27  24  -1  -2  28  -3  17  -4  26  -5  -6  22  25  29  31
  -7  -8  30  -9 -10]

In [323]:
df_today.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328 entries, 31265 to 38133
Columns: 226 entries, Class to Up in Trip_YES
dtypes: bool(186), float64(22), int64(18)
memory usage: 164.6 KB

In [324]:
df_past.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58019 entries, 0 to 58346
Columns: 226 entries, Class to Up in Trip_YES
dtypes: bool(186), float64(22), int64(18)
memory usage: 28.4 MB

In [325]:
print([col for col in df_past.columns if "Place" in col])

['Place']

In [326]:
df_today.head(1)

,Class,Horse,Age,Pace,Jockey,Trainer,SP Fav,Industry SP,Pred ISP,Place,...,Distance_4m½f,Distance_5f,Distance_5½f,Distance_6f,Distance_6½f,Distance_7f,Distance_7½f,Course Winner_YES,Distance Winner_YES,Up in Trip_YES
31265,6.0,4,2,4.0,1043,434,1,4.0,4.0,1,...,False,False,False,False,False,True,False,False,False,True

In [327]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
import pandas as pd
import lightgbm as lgb

# Transform the Place column into a binary target
df_past["Top3"] = df_past["Place"].apply(lambda x: 1 if x in [1, 2, 3] else 0)
df_today["Top3"] = None  # Placeholder for predictions

# Define features and target
X_past = df_past.drop(columns=["Place", "Top3"])
y_past = df_past["Top3"]

X_today = df_today.drop(columns=["Place", "Top3"])

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_past, y_past, test_size=0.2, random_state=42, stratify=y_past)

# Hyperparameter grid for tuning
param_grid = {
    "num_leaves": [15, 31, 63],
    "max_depth": [-1, 10, 20],
    "learning_rate": [0.01, 0.1, 0.2],
    "n_estimators": [100, 200, 500],
    "min_child_samples": [10, 20, 30],
    "subsample": [0.7, 0.8, 1.0],
    "colsample_bytree": [0.7, 0.8, 1.0],
}

# Initialize LightGBM binary classifier
lgbm = lgb.LGBMClassifier(random_state=42)

# GridSearchCV for hyperparameter tuning (uncomment to perform grid search)
# grid_search = GridSearchCV(
#     estimator=lgbm,
#     param_grid=param_grid,
#     scoring="roc_auc",
#     cv=3,
#     verbose=2,
#     n_jobs=-1
# )
# grid_search.fit(X_train, y_train)

# Best parameters (from GridSearchCV or manually set)
best_params = {
    'colsample_bytree': 0.7,
    'learning_rate': 0.1,
    'max_depth': -1,
    'min_child_samples': 20,
    'n_estimators': 200,
    'num_leaves': 63,
    'subsample': 0.7
}

# Train the final model with the best parameters
final_model = lgb.LGBMClassifier(random_state=42, **best_params)
final_model.fit(X_train, y_train)

# Evaluate the final model on the test set
y_pred_test = final_model.predict(X_test)
y_pred_proba_test = final_model.predict_proba(X_test)[:, 1]  # For ROC-AUC

# Metrics
print("Test Accuracy:", accuracy_score(y_test, y_pred_test))
print("\nClassification Report:\n", classification_report(y_test, y_pred_test))
print("ROC-AUC Score:", roc_auc_score(y_test, y_pred_proba_test))

# Feature importance
feature_importances = pd.DataFrame({
    "Feature": X_train.columns,
    "Importance": final_model.feature_importances_
}).sort_values(by="Importance", ascending=False)

print("\nTop 10 Feature Importances:")
print(feature_importances.head(10))

# Predict for df_today
df_today["Top3"] = final_model.predict(X_today)
df_today["Probability_Top3"] = final_model.predict_proba(X_today)[:, 1]  # Probability of being in Top 3

# Adjust the Top3 predictions based on the probability threshold of 0.75
df_today["Top3"] = df_today.apply(
    lambda row: 1 if row["Probability_Top3"] >= 0.75 else 0, axis=1
)

# Combine df_aux with prediction and probability columns
df_today_with_predictions = pd.concat(
    [df_aux.reset_index(drop=True), df_today[["Top3", "Probability_Top3"]].reset_index(drop=True)],
    axis=1
)

# Save the combined DataFrame to a CSV file
df_today_with_predictions.to_csv("df_today_with_top3_predictions.csv", index=False)

# Display a sample of the combined DataFrame
print("\nSample of df_today_with_top3_predictions:")
print(df_today_with_predictions.head())

Test Accuracy: 0.8709927611168563

Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.90      0.89      6911
           1       0.85      0.83      0.84      4693

    accuracy                           0.87     11604
   macro avg       0.87      0.86      0.87     11604
weighted avg       0.87      0.87      0.87     11604

ROC-AUC Score: 0.9419696834641335

Top 10 Feature Importances:
             Feature  Importance
9   Winning Distance         976
4             Jockey         540
7        Industry SP         473
1              Horse         459
5            Trainer         437
26    Days Since LTO         396
33          Dist (F)         391
10           Runners         391
16     LTO % SP Drop         373
34         WGT (Lbs)         352

Sample of df_today_with_top3_predictions:
  Place          Track           Horse              Jockey         Racetype  \
0     1      SOUTHWELL   A Fine Claret  Pierre-Louis Jamin          Nursery
1     1  WOLVERHAMPTON  A Pint Of Bear         Joey Haynes   Other Handicap
2     1        KEMPTON    Africa Charm         Neil Callan           Maiden
3     1       PLUMPTON         Aggagio       Caoilin Quinn  Handicap Hurdle
4     1        KEMPTON         Aimeric        Clifford Lee           Listed

    Time  Top3  Probability_Top3
0  17:45     1          0.937998
1  18:00     1          0.867276
2  13:20     1          0.924429
3  15:40     0          0.664368
4  14:20     1          0.945785

In [182]:
if 'Horse ID' in df_today.columns:
    print("'Horse ID' column exists in df_today")
else:
    print("'Horse ID' column is missing!")

'Horse ID' column is missing!

In [193]:
results_file_path = '/Users/rishabh/Downloads/Results - 04112024 (1).csv'
results_df = pd.read_csv(results_file_path)
print("Reloaded results_df columns:")
print(results_df.info())

Reloaded results_df columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 95 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               317 non-null    object
 1   Place              317 non-null    object
 2   BFSP Rank          317 non-null    int64
 3   Ind SP             317 non-null    object
 4   Ind SP Decimal     317 non-null    float64
 5   Time               317 non-null    object
 6   Runners            317 non-null    int64
 7   Track Name         317 non-null    object
 8   Class (GB only)    317 non-null    int64
 9   Distance           317 non-null    object
 10  Age                317 non-null    int64
 11  Horse              317 non-null    object
 12  Weight             317 non-null    object
 13  Trainer            317 non-null    object
 14  Jockey             317 non-null    object
 15  OffR               263 non-null    float64
 16  Race Name          317 non-null    object
 17  Going              317 non-null    object
 18  Headgear           134 non-null    object
 19  WinDist            269 non-null    object
 20  Min Price          317 non-null    float64
 21  Max Price          317 non-null    float64
 22  Silk No            317 non-null    int64
 23  Pace               317 non-null    int64
 24  Stall / Draw       235 non-null    float64
 25  Winning Time       317 non-null    object
 26  Prize Money        317 non-null    float64
 27  BSP                317 non-null    float64
 28  15 Mins            317 non-null    float64
 29  10 mins            317 non-null    object
 30  5 mins             311 non-null    float64
 31  3 mins             317 non-null    float64
 32  2 mins             317 non-null    float64
 33  1 min              317 non-null    float64
 34  Post Time          317 non-null    float64
 35  Last Traded Price  317 non-null    float64
 36  Unnamed: 36        317 non-null    float64
 37  Unnamed: 37        317 non-null    float64
 38  Unnamed: 38        317 non-null    float64
 39  Unnamed: 39        317 non-null    float64
 40  Unnamed: 40        317 non-null    float64
 41  Unnamed: 41        317 non-null    float64
 42  Unnamed: 42        317 non-null    float64
 43  Unnamed: 43        317 non-null    float64
 44  Unnamed: 44        307 non-null    float64
 45  Unnamed: 45        301 non-null    float64
 46  Unnamed: 46        301 non-null    float64
 47  Unnamed: 47        290 non-null    float64
 48  Unnamed: 48        272 non-null    float64
 49  Unnamed: 49        264 non-null    float64
 50  Unnamed: 50        264 non-null    float64
 51  Unnamed: 51        241 non-null    float64
 52  Unnamed: 52        219 non-null    float64
 53  Unnamed: 53        209 non-null    float64
 54  Unnamed: 54        189 non-null    float64
 55  Unnamed: 55        157 non-null    float64
 56  Unnamed: 56        157 non-null    float64
 57  Unnamed: 57        157 non-null    float64
 58  Unnamed: 58        157 non-null    float64
 59  Unnamed: 59        145 non-null    float64
 60  Unnamed: 60        135 non-null    float64
 61  Unnamed: 61        135 non-null    float64
 62  Unnamed: 62        135 non-null    float64
 63  Unnamed: 63        121 non-null    float64
 64  Unnamed: 64        114 non-null    float64
 65  Unnamed: 65        104 non-null    float64
 66  Unnamed: 66        104 non-null    float64
 67  Unnamed: 67        104 non-null    float64
 68  Unnamed: 68        96 non-null     float64
 69  Unnamed: 69        90 non-null     float64
 70  Unnamed: 70        90 non-null     float64
 71  Unnamed: 71        78 non-null     float64
 72  Unnamed: 72        71 non-null     float64
 73  Unnamed: 73        71 non-null     float64
 74  Unnamed: 74        71 non-null     float64
 75  Unnamed: 75        68 non-null     float64
 76  Unnamed: 76        68 non-null     float64
 77  Unnamed: 77        55 non-null     float64
 78  Unnamed: 78        55 non-null     float64
 79  Unnamed: 79        48 non-null     float64
 80  Unnamed: 80        48 non-null     float64
 81  Unnamed: 81        31 non-null     float64
 82  Unnamed: 82        31 non-null     float64
 83  Unnamed: 83        31 non-null     float64
 84  Unnamed: 84        31 non-null     float64
 85  Unnamed: 85        31 non-null     float64
 86  Unnamed: 86        31 non-null     float64
 87  Unnamed: 87        31 non-null     float64
 88  Unnamed: 88        31 non-null     float64
 89  Unnamed: 89        24 non-null     float64
 90  Unnamed: 90        24 non-null     float64
 91  Unnamed: 91        16 non-null     float64
 92  Unnamed: 92        12 non-null     float64
 93  Unnamed: 93        12 non-null     float64
 94  Unnamed: 94        6 non-null      float64
dtypes: float64(73), int64(6), object(16)
memory usage: 235.4+ KB
None

In [190]:
print("Columns in results_df:")
print(results_df.columns)

print("\nColumns in df_today:")
print(df_today.columns.tolist())

Columns in results_df:
Index(['Date', 'Place', 'BFSP Rank', 'Ind SP', 'Ind SP Decimal', 'Time',
       'Runners', 'Track Name', 'Class (GB only)', 'Distance', 'Age', 'Horse',
       'Weight', 'Trainer', 'Jockey', 'OffR', 'Race Name', 'Going', 'Headgear',
       'WinDist', 'Min Price', 'Max Price', 'Silk No', 'Pace', 'Stall / Draw',
       'Winning Time', 'Prize Money', 'BSP', '15 Mins', '10 mins', '5 mins',
       '3 mins', '2 mins', '1 min ', 'Post Time', 'Last Traded Price',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55',
       'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71',
       'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75',
       'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79',
       'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83',
       'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87',
       'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91',
       'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94'],
      dtype='object')

Columns in df_today:
['Class', 'Horse', 'Age', 'Pace', 'Jockey', 'Trainer', 'SP Fav', 'Industry SP', 'Pred ISP', 'Place', 'Winning Distance', 'Runners', 'Runs last 18 mo', 'LTO5 % SP Drop', 'LTO4 % SP Drop', 'LTO3 % SP Drop', 'LTO2 % SP Drop', 'LTO % SP Drop', 'LTO5 IPL', 'LTO4 IPL', 'LTO3 IPL', 'LTO2 IPL', 'LTO IPL', 'Wins L5', 'Avg % SP Drop L5', 'Avg % SP Drop last 18 mo', 'Prev Races', 'Days Since LTO', 'Cla diff since LTO', 'OR diff since LTO', 'Crs Wins', 'Dist Wins', 'Class Wins', 'Going Wins', 'Dist (F)', 'WGT (Lbs)', 'WGT diff since LTO', 'LTO Pos', 'OR', 'Headgear', 'Country_IRE', 'Track_ASCOT', 'Track_AYR', 'Track_BALLINROBE', 'Track_BANGOR-ON-DEE', 'Track_BATH', 'Track_BELLEWSTOWN', 'Track_BEVERLEY', 'Track_BRIGHTON', 'Track_CARLISLE', 'Track_CARTMEL', 'Track_CATTERICK', 'Track_CHELMSFORD CITY', 'Track_CHELTENHAM', 'Track_CHEPSTOW', 'Track_CHESTER', 'Track_CLONMEL', 'Track_CORK', 'Track_CURRAGH', 'Track_DONCASTER', 'Track_DOWN ROYAL', 'Track_DOWNPATRICK', 'Track_DUNDALK', 'Track_EPSOM', 'Track_EXETER', 'Track_FAIRYHOUSE', 'Track_FAKENHAM', 'Track_FFOS LAS', 'Track_FONTWELL', 'Track_GALWAY', 'Track_GOODWOOD', 'Track_GOWRAN PARK', 'Track_HAMILTON', 'Track_HAYDOCK', 'Track_HEREFORD', 'Track_HEXHAM', 'Track_HUNTINGDON', 'Track_KELSO', 'Track_KEMPTON', 'Track_KILBEGGAN', 'Track_KILLARNEY', 'Track_LAYTOWN', 'Track_LEICESTER', 'Track_LEOPARDSTOWN', 'Track_LIMERICK', 'Track_LINGFIELD', 'Track_LISTOWEL', 'Track_LUDLOW', 'Track_MARKET RASEN', 'Track_MUSSELBURGH', 'Track_NAAS', 'Track_NAVAN', 'Track_NEWBURY', 'Track_NEWCASTLE', 'Track_NEWMARKET', 'Track_NEWTON ABBOT', 'Track_NOTTINGHAM', 'Track_PERTH', 'Track_PLUMPTON', 'Track_PONTEFRACT', 'Track_PUNCHESTOWN', 'Track_REDCAR', 'Track_RIPON', 'Track_ROSCOMMON', 'Track_SALISBURY', 'Track_SANDOWN', 'Track_SEDGEFIELD', 'Track_SLIGO', 'Track_SOUTHWELL', 'Track_STRATFORD', 'Track_TAUNTON', 'Track_THIRSK', 'Track_THURLES', 'Track_TIPPERARY', 'Track_TOWCESTER', 'Track_TRAMORE', 'Track_UTTOXETER', 'Track_WARWICK', 'Track_WETHERBY', 'Track_WEXFORD', 'Track_WINCANTON', 'Track_WINDSOR', 'Track_WOLVERHAMPTON', 'Track_WORCESTER', 'Track_YARMOUTH', 'Track_YORK', 'Going_GD', 'Going_GTF', 'Going_GTS', 'Going_GTY', 'Going_HTS', 'Going_HVY', 'Going_SFT', 'Going_SLW', 'Going_STD', 'Going_STFA', 'Going_STSL', 'Going_YLD', 'Going_YTS', 'Racetype_Claiming Stakes', 'Racetype_Classified Stakes', 'Racetype_Conditions Stakes', 'Racetype_Group 1', 'Racetype_Group 2', 'Racetype_Group 3', 'Racetype_Handicap Chase', 'Racetype_Handicap Hurdle', 'Racetype_Hunters Chase', 'Racetype_Listed', 'Racetype_Maiden', 'Racetype_NH Flat', 'Racetype_Novice Chase', 'Racetype_Novice Hcap Chase', 'Racetype_Novice Hcap Hurdle', 'Racetype_Novice Hurdle', 'Racetype_Novice Stakes', 'Racetype_Nursery', 'Racetype_Other Chase', 'Racetype_Other Handicap', 'Racetype_Other Hurdle', 'Racetype_Selling Handicap', 'Racetype_Selling Hurdle', 'Racetype_Selling Stakes', 'Racetype_Unclassified', 'Distance_1m1f', 'Distance_1m1½f', 'Distance_1m2f', 'Distance_1m2½f', 'Distance_1m3f', 'Distance_1m3½f', 'Distance_1m4f', 'Distance_1m4½f', 'Distance_1m5f', 'Distance_1m5½f', 'Distance_1m6f', 'Distance_1m6½f', 'Distance_1m7f', 'Distance_1m7½f', 'Distance_1m½f', 'Distance_2m', 'Distance_2m1f', 'Distance_2m1½f', 'Distance_2m2f', 'Distance_2m2½f', 'Distance_2m3f', 'Distance_2m3½f', 'Distance_2m4f', 'Distance_2m4½f', 'Distance_2m5f', 'Distance_2m5½f', 'Distance_2m6f', 'Distance_2m6½f', 'Distance_2m7f', 'Distance_2m7½f', 'Distance_2m½f', 'Distance_3m', 'Distance_3m1f', 'Distance_3m1½f', 'Distance_3m2f', 'Distance_3m2½f', 'Distance_3m3f', 'Distance_3m3½f', 'Distance_3m4f', 'Distance_3m4½f', 'Distance_3m5f', 'Distance_3m5½f', 'Distance_3m6f', 'Distance_3m6½f', 'Distance_3m7f', 'Distance_3m7½f', 'Distance_3m½f', 'Distance_4m', 'Distance_4m1f', 'Distance_4m1½f', 'Distance_4m2f', 'Distance_4m2½f', 'Distance_4m½f', 'Distance_5f', 'Distance_5½f', 'Distance_6f', 'Distance_6½f', 'Distance_7f', 'Distance_7½f', 'Course Winner_YES', 'Distance Winner_YES', 'Up in Trip_YES', 'Top3']

In [191]:
# Extract track columns (start with "Track_")
track_columns = [col for col in df_today.columns if col.startswith('Track_')]

# Convert one-hot columns to a single "Track" column
df_today['Track'] = df_today[track_columns].idxmax(axis=1).str.replace('Track_', '')

# Drop the one-hot columns if no longer needed
df_today = df_today.drop(columns=track_columns)

In [192]:
print("Unique tracks in df_today:", df_today['Track'].unique())
print("Unique tracks in results_df:", results_df['Track'].unique())

Unique tracks in df_today: ['SOUTHWELL' 'WOLVERHAMPTON' 'KEMPTON' 'PLUMPTON' 'HEREFORD']

KeyError: 'Track'

In [166]:
results_df['Composite Key'] = (
    results_df['Track'].astype(str) + "_" +
    results_df['Horse'].astype(str)
)

df_today['Composite Key'] = (
    df_today['Track'].astype(str) + "_" +
    df_today['Horse'].astype(str)
)

In [167]:
merged_df = pd.merge(
    df_today,
    results_df[['Composite Key', 'Place']],
    on='Composite Key',
    how='left'
)

In [173]:
print(merged_df[['Track', 'Horse', 'Place_x']].head())
print(merged_df[['Track', 'Horse', 'Place_y']].head())  # If Place_y exists

           Track  Horse  Place_x
0      SOUTHWELL      4        1
1  WOLVERHAMPTON      9        1
2        KEMPTON     31        1
3       PLUMPTON     36        1
4        KEMPTON     42        1
           Track  Horse Place_y
0      SOUTHWELL      4     NaN
1  WOLVERHAMPTON      9     NaN
2        KEMPTON     31     NaN
3       PLUMPTON     36     NaN
4        KEMPTON     42     NaN

In [142]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
import pandas as pd


# Initialize XGBoost binary classifier
xgb_model = xgb.XGBClassifier(random_state=42, use_label_encoder=False, eval_metric='logloss')

# Train the model
xgb_model.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred_test = xgb_model.predict(X_test)
y_pred_proba_test = xgb_model.predict_proba(X_test)[:, 1]  # For ROC-AUC

# Metrics
print("Test Accuracy:", accuracy_score(y_test, y_pred_test))
print("\nClassification Report:\n", classification_report(y_test, y_pred_test))
print("ROC-AUC Score:", roc_auc_score(y_test, y_pred_proba_test))

# Feature importance
feature_importances = pd.DataFrame({
    "Feature": X_train.columns,
    "Importance": xgb_model.feature_importances_
}).sort_values(by="Importance", ascending=False)

print("\nTop 10 Feature Importances:")
print(feature_importances.head(10))

# Predict for df_today
df_today["Top3"] = xgb_model.predict(X_today)

# Display predictions alongside other columns
print("Sample Predictions for Top 3 Finishes:")
print(df_today[["Top3"]].head())

# Save predictions to a CSV file (optional)
df_today.to_csv("df_today_with_top3_predictions_xgb.csv", index=False)
print("\nPredictions saved to 'df_today_with_top3_predictions_xgb.csv'")

/Users/rishabh/opt/anaconda3/envs/tfenv/lib/python3.9/site-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

Test Accuracy: 0.8658221302998966

Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.89      0.89      6911
           1       0.84      0.82      0.83      4693

    accuracy                           0.87     11604
   macro avg       0.86      0.86      0.86     11604
weighted avg       0.87      0.87      0.87     11604

ROC-AUC Score: 0.9373495586622438

Top 10 Feature Importances:
                     Feature  Importance
9           Winning Distance    0.119074
157  Racetype_Other Handicap    0.042278
6                     SP Fav    0.027780
33                  Dist (F)    0.027148
56                Track_CORK    0.017246
10                   Runners    0.012716
7                Industry SP    0.012191
68              Track_GALWAY    0.012139
137                Going_YTS    0.011226
73            Track_HEREFORD    0.009854
Sample Predictions for Top 3 Finishes:
       Top3
31265     1
31312     1
31314     1
31345     1
31362     1

Predictions saved to 'df_today_with_top3_predictions_xgb.csv'

In [145]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
import pandas as pd

# Convert 'Place' to binary (Top 3 -> 1, Else -> 0)
df_past["Top3"] = (df_past["Place"] <= 3).astype(int)

# Define features and target
X = df_past.drop(columns=["Place", "Top3"])
y = df_past["Top3"]

# Normalize the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize and train the SVM model
svm_model = SVC(kernel="rbf", probability=True, random_state=42)
svm_model.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred_test = svm_model.predict(X_test)
y_pred_proba_test = svm_model.predict_proba(X_test)[:, 1]

print("Test Accuracy:", accuracy_score(y_test, y_pred_test))
print("\nClassification Report (Test):\n", classification_report(y_test, y_pred_test))

# ROC-AUC Score
test_auc = roc_auc_score(y_test, y_pred_proba_test)
print("Test ROC-AUC Score:", test_auc)

# Predict for df_today
df_today_scaled = scaler.transform(df_today.drop(columns=["Place"]))
df_today["Top3_Predicted"] = svm_model.predict(df_today_scaled)
df_today["Top3_Probability"] = svm_model.predict_proba(df_today_scaled)[:, 1]

# Display sample predictions
print("\nSample Predictions for df_today:")
print(df_today[["Horse", "Top3_Predicted", "Top3_Probability"]].head())

# Save predictions to a CSV file (optional)
df_today.to_csv("df_today_with_top3_predictions_svm.csv", index=False)
print("\nPredictions saved to 'df_today_with_top3_predictions_svm.csv'")

Test Accuracy: 0.843329886246122

Classification Report (Test):
               precision    recall  f1-score   support

           0       0.88      0.84      0.86      6556
           1       0.80      0.85      0.83      5048

    accuracy                           0.84     11604
   macro avg       0.84      0.84      0.84     11604
weighted avg       0.85      0.84      0.84     11604

Test ROC-AUC Score: 0.9229543121844812

Sample Predictions for df_today:
       Horse  Top3_Predicted  Top3_Probability
31265      4               1          0.841030
31312      9               1          0.657879
31314     31               1          0.519410
31345     36               1          0.960282
31362     42               1          0.740272

Predictions saved to 'df_today_with_top3_predictions_svm.csv'

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score

df_past["Top3"] = (df_past["Place"]<=3).astype(int)

X = df_past.drop(columns = "Top3", "Place")
y = df_past["Top3"]\

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_split = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

model = Sequential([
    Dense(64, activation = 'relu', input_shape=(X_train[1].shape,)),
    Dropout(0.3),
    Dense(32,activation='relu'),
    Dropout(0.2),
    Dense(1,activation='sigmoid')
])


model.compile(optimizer='adam', loss='binary_cross_entropy',metrics=["accuracy", tf.keras.metrics.AUC()])